<section class="projects-section">
    <div class="container">
        <h2 class="section-title">PROJECT EXPERIENCE</h2>

        <article class="project-item">
            <h3 class="project-name">
                 <a href="https://andreigubsky.github.io/Paw-paws-little-house/" class="project-link" target="_blank">Paw Paws</a>
            </h3>

            <ul class="tech-stack">
                <li class="tech-tag">HTML</li>
                <li class="tech-tag">CSS</li>
                <li class="tech-tag">JavaScript</li>
                <li class="tech-tag">Axios</li>
                <li class="tech-tag">Accordion.js</li>
                <li class="tech-tag">Vite</li>
            </ul>

            <p class="project-desc">
                Web application for an animal shelter that allows users to view a catalog of pets, read detailed information, book a
                meeting, and explore success stories.
                Developed the FAQ section. Implemented interactive, expandable components for frequently asked questions using the
                accordion-js library; ensured responsive and adaptive design for various devices; integrated the section seamlessly into
                the main application layout.
            </p>
        
        </article>

        <article class="project-item">
            <h3 class="project-name">
                <a href="https://viacheslav-bo.github.io/project-06/" class="project-link" target="_blank">Coffee Joy</a>
            </h3>

            <ul class="tech-stack">
                <li class="tech-tag">HTML</li>
                <li class="tech-tag">CSS</li>
                <li class="tech-tag">JavaScript</li>
                <li class="tech-tag">Vite</li>
            </ul>

            <p class="project-desc">
                Team-developed responsive web application with a component-based UI approach.
                Developed the Location section. Implemented adaptive and responsive layout for the section using HTML and CSS; ensured
                cross-browser compatibility and correct display on various screen sizes (mobile, tablet, desktop); seamlessly integrated
                the component into the main application structure.
            </p>
        </article>

    </div>
</section>