<section class="summary-section">
    <div class="container">
        <h2 class="section-title">SUMMARY</h2>
        <p class="summary-text">
            Web developer with experience in HTML, CSS, JavaScript, React, as well as basic knowledge of Python and
            MySQL. Experienced in creating modern component interfaces, implementing adaptive and responsive layouts,
            and integrating REST APIs. Focused on following best practices for writing clean code and developing
            optimized web solutions. Strong analytical skills, a systematic approach to solving technical problems, and
            quick mastery of new tools.
        </p>
    </div>
</section>